extends includes/layout.pug

block content
  #page
    article.card-widget
      .card-content
        .weather-page-header
          h2.weather-page-title
            i.fas.fa-cloud-sun
            | 天气预报
          #weather-page-container(
            data-default-city=theme.aside.card_weather.default_location.city
            data-default-lat=theme.aside.card_weather.default_location.lat
            data-default-lon=theme.aside.card_weather.default_location.lon
          )
            .weather-loading 加载中...
      script(src=url_for('/js/weather-store.js'))
      script(src=url_for('/js/weather-page.js'))
